:root{
    --bg-footer-: #222222;
    --active-: #48b60a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region Utilities */

.container_fluid{
    width: 100%;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-7{
    width: calc(100% / 7);
}

.bg_gray{
    background-color: #7e7e7e99;
    padding: 0.2rem;
}

.br_5{
    border-radius: 5px;
}

.in_bl{
    display: inline-block;
    padding: 0rem 1rem;
}

/* #endregion Utilities */

/* #region Main */

main{
    height: 100vh;
    padding: 3rem;
    background-color: black;
}

.user{
    color: white;
    position: relative;
    margin: 0.4rem 0.2rem;
}

.user img{
    height: 100%;
    width: 100%;
}

.user .name{
    position: absolute;
    bottom: 0;
}

.top_menu {
    color: white;
    background-color: black;
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    font-size: 0.7rem;
}

.top_menu div{
    display: inline-block;
}



/* #endregion Main */

/* #region Footer */

footer{
    height: 4rem;
    margin-top: -3rem;
    background-color: var(--bg-footer-);
    color: white;
    vertical-align: middle;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

footer i{
    font-size: 1.3rem;
    margin-bottom: 0.2rem;
}

footer .row{
    height: 4rem;
    justify-content: space-between;
}

.footer_left,
.footer_center,
.footer_right{
    display: flex;
    align-items: center;
}

.footer_left{
    padding-left: 1rem;
}

.footer_right{
    color: red;
    padding: 0rem 1rem;
}


/* #endregion Footer */

.active{
    color: var(--active-);
}